.App {
  text-align: center;
  font-family: "Playfair Display";
  font-size: 20px;
  line-height: 1.3;
  background-color: #dbcece;
  color: #000;
  height: 100%;
  position: relative;
}

/* Main containers */
.clothesContainer,
.categoryContainer,
.itemDisplayContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.itemDisplayContainer {
  display: grid;
}

.clothesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.clothesContainer p {
  grid-column: 1/4;
  font-size: 3em;
}

/* categoryCard */
.category {
  position: relative;
  width: 500px;
  padding: 1%;
  margin-bottom: 2rem;
}

/* navBar outer */
.navBar {
  background-color: #000;
  border-top: solid 5px #feea34;
  width: 100%;
  padding: 1rem;
}

.innerNav a {
  color: #dbcece;
}

.footer {
  background-color: #000;
  border-top: solid 5px #feea34;
  width: 100%;
  padding: 100px;
  color: #dbcece;
}

/* navBar inner */
.innerNav {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* searchBar Component with Title and search form */
.search {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.hero {
  background-image: url(./hero.jpg);
  background-size: cover;
  height: 400px;
  background-position: center;
}

/* categoryCard type of category */
/* productCard type of category */
.overlay {
  opacity: 0;
  position: absolute;
  background-color: rgba(254, 234, 52, 0.7);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 15px;
  display: grid;
  grid-template-rows: 2fr repeat(3, 1fr) 2fr;
  align-items: center;
  justify-content: center;
  /* Here we used a transition timing from the graph editor in the developer tools which alloes us to add a bit more character to our transition. */
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay > h2 {
  grid-row: 2/3;
}
.overlay > h6 {
  grid-row: 3/4;
}
.overlay > h4 {
  grid-row: 4/5;
}

/* categoryCard type of category */
/* productCard type of category */
.overlay h2,
h4,
h6 {
  font-size: 3vw;
  color: white;
}

/* categoryCard type of category */
/* productCard type of category */
.category:hover .overlay {
  opacity: 1;
}

img {
  height: 500px;
}

.cartItem img {
  height: 100px;
}

.buttonItem {
  height: 2rem;
  border-radius: 0.5rem;
}

#checkout {
  background-color: green;
  color: white;
  margin-top: 1rem;
}

.footer-data {
  display: block;
  padding: 1rem;
}

.span {
  font-size: 1rem;
  color: #feea34;
}
