.App {
  text-align: center;
}

.category,
.product {
  border: 1px solid;
  border-color: red;
  padding: 1%;
  margin: 1%;
}
.navBar {
  border: 1px solid;
  border-color: blue;
  padding: 1%;
  margin: 1%;
}

.clothesContainer,
.categoryContainer,
.itemDisplayContainer {
  border: 1px solid;
  border-color: green;
  padding: 1%;
  margin: 1%;
}

.search {
  border: 1px solid;
  border-color: gold;
  padding: 1%;
  margin: 1%;
}

.navBarContainer {
  border: 1px solid;
  border-color: black;
  padding: 1%;
  margin: 1%;
}
