.App {
  text-align: center;
}

.categories {
  border: 1px solid;
  border-color: red;
  padding: 1%;
  margin: 1%;
}

.navBar {
  border: 1px solid;
  border-color: blue;
  padding: 1%;
  margin: 1%;
}

.clothesContainer {
  border: 1px solid;
  border-color: green;
  padding: 1%;
  margin: 1%;
}

.search {
  border: 1px solid;
  border-color: gold;
  padding: 1%;
  margin: 1%;
}

.navBarContainer {
  border: 1px solid;
  border-color: black;
  padding: 1%;
  margin: 1%;
}
